.item{
    color: #000;
    margin-right: 5px;
    list-style: none;
}

.container {
    margin: 0;
    padding: 0;
    display: flex;
}
.ulist {
    margin: 0;
    padding: 0;
}
.button {
   margin-right: 5px;
}